<% provide(:title, "初めての方へ") %>

<h1></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <section class="discription">
      <h4>
        「思い描いた世界を、自分の好きなように表現したい」「自分のニーズにピッタリの小説に出会いたい」
      </h4>
      <h4>
        「小説投稿サイト」では、そのような要望に応えるべく、誰もが、気軽に小説を投稿したり、読んだりできる場所を提供しています。
      </h4>
    </section>
    <section class="">
      
    </section>
    
    
    
    <section class="about_read">
      <h2>小説を読もう！</h2>
      <section>
      <h3>・お気に入りの小説に出会おう</h3>
      <p>ホームページでは新作やランキング形式で、情報が随時更新されています。</p>
      <p>また、「小説を探す」のページでは、ジャンル・執筆状況・関連ワードなどから、小説を絞ることができます。</p>
      <ul>
        <li>ホームページ</li>
          <%= image_tag("ab_1.jpg", size: '300x400') %>
          <%= image_tag("ab_2.jpg", size: '300x400') %>        
        <li>「小説を探す」ページ</li>
          <%= image_tag("ab_3.jpg", size: '300x400') %>
      </ul>
      </section>
      <section>
        <h3>・本棚を活用しよう</h3>
        <p>お気に入りの小説を見つけたら、本棚に追加することができます。</p>
        <%= image_tag("ab_4.jpg", size: '300x400') %>
        <%= image_tag("ab_5.jpg", size: '300x400') %>
        <p>本棚に追加した小説のエピソードが更新された場合、新着情報として受信ボックスにてお知らせします。</p>
        <%= image_tag("ab_9.jpg", size: '300x400') %>
      </section>
    </section>
    
    
    <section class="about_post">
      <h2>小説を投稿しよう！</h2>
      <section>
      <h3>・まずは小説の基本情報を登録しよう</h3>
      <p>右上の「小説を書く」のリンクページにて、基本情報を入力してください。</p>
        <%= image_tag("ab_6.jpg", size: '300x400') %>
        <%= image_tag("ab_7.jpg", size: '300x400') %>
      <p>また、表紙を設定することもできます。</p>
        <%= image_tag("ab_8.jpg", size: '300x400') %>
      </section>
      <section>
        <h3>・エピソードを更新しよう</h3>
        <p>小説管理ページにて、「エピソードを更新する」をクリックすると、新規にエピソードを執筆することができます。</p>
          <%= image_tag("ab_10.jpg", size: '300x400') %>
        　<%= image_tag("ab_11.jpg", size: '300x400') %>
  　　　  　  <%= image_tag("ab_12.jpg", size: '300x400') %>        
      </section>
    </section>
    
    
    <section class="about_message">
      <h2>感動を伝えよう！</h2>
    　<section>
        <h3>・レビューを投稿しよう</h3>
        <p>作品ページの「おすすめレビューを書く」のページに移動すると、レビューを投稿できます。</p>
        <%= image_tag("ab_13.jpg", size: '300x400') %>
        <%= image_tag("ab_15.jpg", size: '300x400') %>
      </section>
      <section>
        <h3>・SNSでシェアしよう</h3>
        <p>お気に入りの作品を、Twitterで共有することができます。</p>
      </section>
    </section>
  </div>
</div>