<% provide(:title, "Home") %>

<h1>小説投稿サイト</h1>

<div class="row">
  <div class="col-md-8">
    <nav class="nav navbar-light bg-light">
      <ul class="nav navbar-nav">
        <li class="genre_sf"><%= link_to "SF", sf_path %></li>
        <li class="genre_df"><%= link_to "異世界ファンタジー", dw_path %></li>
        <li class="genre_cf"><%= link_to "現代ファンタジー", cw_path %></li>
        <li class="genre_love"><%= link_to "恋愛", love_path %></li>
        <li class="genre_horror"><%= link_to "ホラー", horror_path %></li>
        <li class="genre_mystery"><%= link_to "ミステリー", mystery_path %></li>
        <li class="genre_suspense"><%= link_to "サスペンス", suspense_path %></li>
        <li class="genre_essay"><%= link_to "エッセイ", essay_path %></li>
        <li class="genre_history"><%= link_to "歴史・伝奇", history_path %></li>
      </ul>
    </nav>
    <article>
      <section class="home_novels">
        <h3>新作</h3>
        <% if @novels.any? %>
          <ul class="novels">
            <%= render @novels %>
          </ul>
        <% end %>
      </section>
      <section class="">
        <h3>急上昇</h3>
      </section>
    </article>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <aside>
      <section class="novel_ranking">
        <h3>総合ランキング</h3>
      </section>
    </aside>
  </div>
</div>