<% provide(:title, "Home") %>


<div class="row justify-content-center">
  <div class="col-md-10">
    <nav class="nav navbar-expand-md navbar-light bg-light">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "SF", sf_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "異世界ファンタジー", dw_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "現代ファンタジー", cw_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "恋愛", love_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ホラー", horror_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ミステリー", mystery_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "サスペンス", suspense_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "エッセイ", essay_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "歴史・伝奇", history_path, class: "nav-link" %></li>
      </ul>
    </nav>
    <article>
      <section class="home_novels">
        <h3>新作</h3>
        <% if @novels.any? %>
          <ul class="novels">
            <%= render @novels %>
          </ul>
        <% end %>
      </section>
    </article>
  </div>
  <div class="col-md-10">
      <section class="novel_ranking">
        <% if @ranking.any? %>
        <h3>総合ランキング</h3>
          <% @ranking.each do |novel| %>
            <ul class="ranking">
              <li>
                <div class="row">
                  <div class="col-md-3">
                    <% if novel.image? %>
                      <%= image_tag novel.image.url, size: '120x180' %>
                    <% else %>
                      <%= image_tag("book-icon.png", size: '120x180') %>
                    <% end %>
                  </div>
                  <div class="col-md-4">
                    <h3><%= link_to novel.title, novel %></h3>
                      <% if current_user == novel.user %>
                        <p>        
                          <%= link_to "(編集)", edit_novel_path(novel) %> | <%= link_to "(作品を削除する)", novel, method: :delete, 
                                                                             data: { confirm: "作品を削除します。本当によろしいですか？"}  %>          
                        </p>             
                      <% end %>
                    <span class="novel_user">著者名: <%= link_to novel.user.field, novel.user %></span>
                    <span class="novel_outline">あらすじ: <%= simple_format truncate(novel.outline, length: 12) %></span>
                  </div>
                  <div class="col-md-5">
                    <section class="novel_information">
                      <%= render "shared/keyword", novel: novel %>
                    </section>
                    <section class="new_episode">
                      <% if current_user == novel.user %>
        　               <%= link_to "エピソードを執筆する", new_novel_story_path(novel.id) %>
                      <% end %>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        <% end %>
      </section>
      <section class="share_button">
        <%= react_component("share_button", url: request.url, title: 'ビブリオテック ~小説投稿サイト~') %>
      </section>
      <section class="twitter_link">
        <p>↓ビブリオテック公式Twitterアカウントはこちら↓</p>
        <a href="https://twitter.com/f0LMhsvhVJF5Zof?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @f0LMhsvhVJF5Zof</a>
      </section>
  </div>
</div>