<% provide(:title, "Home") %>


<div class="row">
  <div class="col-md-8">
    <nav class="nav navbar-expand-md navbar-light bg-light">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "SF", sf_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "異世界ファンタジー", dw_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "現代ファンタジー", cw_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "恋愛", love_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ホラー", horror_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ミステリー", mystery_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "サスペンス", suspense_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "エッセイ", essay_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "歴史・伝奇", history_path, class: "nav-link" %></li>
      </ul>
    </nav>
    <article>
      <section class="home_novels">
        <h3>新作</h3>
        <% if @novels.any? %>
          <ul class="novels">
            <%= render @novels %>
          </ul>
        <% end %>
      </section>
    </article>
  </div>
  <div class="col-md-3 offset-md-1">
    <aside>
      <section class="novel_ranking">
        <h3>総合ランキング</h3>
        <% if @ranking.any? %>
          <% @ranking.each do |novel| %>
            <ul class="ranking">
              <li>
                <span class="novel_title"><%= link_to novel.title, novel %></span>
                <span class="novel_user">著者名: <%= link_to novel.user.field, novel.user %></span>
                <section class="novel_information">
                  <p>ジャンル: <%= novel.genre.name %></p>
                  <span class="update_date">
                    <% if novel.stories.any? %>
                    更新日: <%= novel.stories.last.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    <% else %>
                    更新日: <%= novel.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    <% end %>
                  </span>
                  <span class="fas fa-book" area-hidden="true"></span><%= novel.favorites.count %>
                </section>
              </li>
            </ul>
          <% end %>
        <% end %>
      </section>
    </aside>
  </div>
</div>