<% provide(:title, "近況ノート編集") %>

<h1>近況ノート編集</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= simple_form_for(@note, url: note_path, method: :patch) do |f| %>
      <%= render 'shared/error_explanation', model: f.object %>
      <%= f.input :title, label: "タイトル" %>
      <%= f.input :text, label: "本文" %>
      <%= f.submit "編集", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>