<% provide(:title, "おすすめレビュー") %>

<div class="row">
  <header>
    <aside class="col-md-2">
      <section class="user-name">
        <h3><%= @user.field %></h3>
        <p>@ <%= @user.name %></p>
        <p>登録日: <%= @user.created_at.strftime("%Y-%m-%d") %> </p>
      </section>
    </aside>
  <div class="col-md-6">
    <p><%= simple_format @user.introduction %></p>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <nav class="nav navbar-ligth bg-ligth">
      <ul class="nav navbar-nav">
        <li><%= link_to "小説", colection_user_path %></li>
        <li><%= link_to "本棚", likes_user_path %></li>
        <li><%= link_to "近況ノート", recent_user_path %></li>
        <li><%= link_to "おすすめレビュー", comment_user_path %></li>
      </ul>
    </nav>
  </div>
  </header>
  <% if @user.reviews.any? %>
    <div class="col-md-10 col-md-offset-1">
      <h3>おすすめレビュー (<%= @user.reviews.count %>)</h3>
      <ul class="review_novel">
        <% @reviews.each do |review| %>
        <li>
          <div class="row">
            <div class="col-md-4">
                <span class="novel_title"><%= link_to review.novel.title, review.novel %></span>
                <span class="novel_user">著者名: <%= link_to review.novel.user.field, review.novel.user %></span>
                <section class="novel_information">
                  <p>ジャンル: <%= review.novel.genre.name %></p>
                  <span class="update_date">更新日: <%= review.novel.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
                  <span class="glyphicon glyphicon-star" area-hidden="true"></span><%= review.novel.favorites.count %>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-1">
  　　　       　<span class="review_title_name">
                <%= review.title %>
              </span>      
              <span class="review_user">  <%= link_to review.user.field, review.user %></span>
              <span class="review_text_field">
                <%= simple_format review.text %>
              </span>
              <% if current_user == review.user %>
                <span class="edit_delete"><%= link_to "編集", edit_novel_review_path(review.novel.id, review.id) %> | <%= link_to "削除",
                                                                                                       novel_review_path(review.novel.id, review.id),
                                                                                                       method: :delete,
                                                                                                       data: { confirm: "本当によろしいですか？" } %></span>
              <% end %>
              </div>
            </div>
        </li>
        <% end %>
      </ul>
      <%= will_paginate @reviews %>
    </div>
  <% end %>
</div>