<% provide(:title, "サインイン") %>

<h1>Acadelia サインイン</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_explanation', model: f.object %>
    
      <%= f.input :name, label: "ユーザーID", placeholder: "ユーザーID(英数字6文字以上)" %>
      
      <%= f.input :field,  label: "ペンネーム", placeholder: "好きなペンネームを入力" %>
  
      <%= f.input :email, label: "メールアドレス", placeholder: "メールアドレス" %>
  
      <%= f.input :password, label: "パスワード", placeholder: "パスワード(英数字6文字以上)" %>
  
      <%= f.input :password_confirmation, label: "パスワード確認", placeholder: "確認用" %>
      
      <%= f.submit "サインイン", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>

