<p>ジャンル: <%= novel.genre.name %></p>
<% if !novel.keyword_five.nil? %>
  <p>関連キーワード: <%= novel.keyword_one %> <%= novel.keyword_two %> <%= novel.keyword_three %> <%= novel.keyword_four %> <%= novel.keyword_five %></p>
<% elsif novel.keyword_one.nil? %>
  <p>関連キーワード: 未設定</p>
<% elsif novel.keyword_two.nil? %>
  <p>関連キーワード: <%= novel.keyword_one %></p>
<% elsif novel.keyword_three.nil? %>
  <p>関連キーワード: <%= novel.keyword_one %> <%= novel.keyword_two %></p>
<% elsif novel.keyword_four.nil? %>
  <p>関連キーワード: <%= novel.keyword_one %> <%= novel.keyword_two %> <%= novel.keyword_three %></p>
<% elsif novel.keyword_five.nil? %>
  <p>関連キーワード: <%= novel.keyword_one %> <%= novel.keyword_two %> <%= novel.keyword_three %> <%= novel.keyword_four %></p>
<% end %>
<span class="update_date">
  <% if novel.stories.any? %>
     更新日: <%= novel.stories.last.updated_at.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
     更新日: <%= novel.updated_at.strftime("%Y-%m-%d %H:%M") %>
  <% end %>
</span>
<span class="fas fa-book" area-hidden="true"></span><%= novel.favorites.count %>