<% reviews.each do |review| %>
  <li>
    <div class="row">
      <div class="col-md-4">
        <span class="novel_title"><%= link_to review.novel.title, review.novel %></span>
        <span class="novel_user">著者名: <%= link_to review.novel.user.field, review.novel.user %></span>
        <section class="novel_information">
          <p>ジャンル: <%= review.novel.genre.name %></p>
          <span class="update_date">更新日: <%= review.novel.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
          <span class="fas fa-book" area-hidden="true"></span><%= review.novel.favorites.count %>
        </section>
      </div>
      <div class="col-md-6 offset-md-1">
  　　  　<span class="review_title_name"><%= review.title %></span>      
        <span class="review_user">  <%= link_to review.user.field, review.user %></span>
        <span class="review_text_field"><%= simple_format review.text %></span>
        <% if current_user == review.user %>
          <span class="edit_delete"><%= link_to "編集", edit_novel_review_path(review.novel.id, review.id) %> | <%= link_to "削除",
                                                                                                         novel_review_path(review.novel.id, review.id),
                                                                                                         method: :delete,
                                                                                                         data: { confirm: "本当によろしいですか？" } %></span>
        <% end %>
      </div>
    </div>
  </li>
<% end %>