<% provide(:title, "新しい小説を作成") %>

<h1>新しい小説を作成する</h1>

<div class="row justify-content-center">
  <div class="col-md-10">
    <%= simple_form_for(@novel, url: novels_path) do |f| %>
    <%= render 'shared/error_explanation', model: f.object %>
      <section class="novel_image">
        <% if @novel.image? %>
          <%= image_tag @novel.image.url, size: '150x200' %>
        <% else %>
          <%= image_tag("book-icon.png", size: '150x200') %>
        <% end %>
        <%= f.input :image, as: :file, label: false %>
      </section> 
      <section class="novel_title">
        <h3>作品タイトル</h3>
        <%= f.input :title, label: false %>
      </section>
      <section class="novel_catchphrase">
        <h3>キャッチコピー</h3>
        <p>作品に相応しいキャッチコピーをつけることができます。</p>
        <%= f.input :catchphrase, label: false %>
      </section>
      <section class="novel_outline">
        <h3>概要</h3>
        <p>あらすじや登場人物など、小説の情報を記入できます。</p>
        <%= f.input :outline, as: :text, label: false %>
      </section>
      <section class="novel_genre">
        <h3>種類/ジャンル</h3>
        <p>当てはまるジャンルを1つ選んでください。</p>
        <%= f.input :genre_id, collection: Genre.all, label_method: :name, value_method: :id, include_blank: false, label: false %>
      </section>
      <section class="novel_keyword">
        <h3>関連キーワード</h3>
        <p>小説のテーマや特徴に関連したキーワードを最大5つまで設定できます。</p>
          <div class="control-group">
            <div class="controls form-inline">
              <%= f.input :keyword_one, label: false, :input_html => {:style => 'width: 150px'} %>
              <%= f.input :keyword_two, label: false, :input_html => {:style => 'width: 150px'} %>
              <%= f.input :keyword_three, label: false, :input_html => {:style => 'width: 150px'} %>
              <%= f.input :keyword_four, label: false, :input_html => {:style => 'width: 150px'} %>
              <%= f.input :keyword_five, label: false, :input_html => {:style => 'width: 150px'} %>
            </div>
          </div>
        <p>(キーワード例): 探偵、ライトノベル、純文学、グルメ、異世界転生、スペースオペラ、短編
      </section>
      <section class="novel_tag">
        <h3>進捗状況</h3>
        <p>どちらかを選択してください。</p>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.check_box %>
          <%= tag.label { tag.text } %>
        <% end %>
      </section>
      
      <%= f.submit "作成", class: 'btn btn-primary' %>
    <% end %>  
  </div>
</div>
