<% provide(:title, "ログイン") %>

<h1>ログイン</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <%= f.input :email,
                required: false,
                label: "メールアドレス",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                label: "パスワード",
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean, label: "入力した情報の保存" if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in" %>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>
</div>
