<header class="fixed-top">
  <div class="container">
    <%= link_to "ビブリオテック", root_url %>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #99FFFF;">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "小説を探す", search_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "初めての方へ", about_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "サポート&ニュース", help_path, class: "nav-link" %></li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "受信ボックス", box_path, class: "nav-link"  %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
           @ <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "プロフィール", current_user, class: "dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to "小説を書く", new_novel_path, class: "dropdown-item"  %>
            <%= link_to "近況ノートを書く", new_note_path, class: "dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to "プロフィール設定", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>  
        <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to "新規登録（無料）", new_user_registration_path, class: "nav-link"  %></li>
      <% end %>
      </ul>
    </nav>
  </div>
  
</header>
  